<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oner365.monitor.mapper.SysTaskMapper">

	<resultMap type="SysTask" id="SysTaskResult">
		<id     property="id"          column="id"          />
		<result property="taskName"        column="task_name"        />
		<result property="taskGroup"       column="task_group"       />
		<result property="invokeTarget"   column="invoke_target"   />
		<result property="cronExpression" column="cron_expression" />
		<result property="misfirePolicy"  column="misfire_policy"  />
		<result property="concurrent"     column="concurrent"      />
		<result property="status"         column="status"          />
		<result property="createUser"       column="create_user"       />
		<result property="createTime"     column="create_time"     />
		<result property="updateTime"     column="update_time"     />
		<result property="remark"         column="remark"          />
	</resultMap>
	
	<sql id="selectTaskVo">
        select id, task_name, task_group, invoke_target, cron_expression, misfire_policy, concurrent, status, create_user, create_time, remark 
		from nt_sys_task
    </sql>
	
	<select id="selectTaskList" parameterType="SysTask" resultMap="SysTaskResult">
		<include refid="selectTaskVo"/>
		<where>
			<if test="taskName != null and taskName != ''">
				AND task_name like concat('%', #{taskName}, '%')
			</if>
			<if test="taskGroup != null and taskGroup != ''">
				AND task_group = #{taskGroup}
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="invokeTarget != null and invokeTarget != ''">
				AND invoke_target like concat('%', #{invokeTarget}, '%')
			</if>
		</where>
	</select>
	
	<select id="selectTaskAll" resultMap="SysTaskResult">
		<include refid="selectTaskVo"/>
	</select>
	
	<select id="selectTaskById" parameterType="Long" resultMap="SysTaskResult">
		<include refid="selectTaskVo"/>
		where id = #{id}
	</select>
	
	<delete id="deleteTaskById" parameterType="Long">
 		delete from nt_sys_task where id = #{id}
 	</delete>
 	
 	<delete id="deleteTaskByIds" parameterType="Long">
 		delete from nt_sys_task where id in
 		<foreach collection="array" item="id" open="(" separator="," close=")">
 			#{id}
        </foreach> 
 	</delete>
 	
 	<update id="updateTask" parameterType="SysTask">
 		update nt_sys_task
 		<set>
 			<if test="taskName != null and taskName != ''">task_name = #{taskName},</if>
 			<if test="taskGroup != null and taskGroup != ''">task_group = #{taskGroup},</if>
 			<if test="invokeTarget != null and invokeTarget != ''">invoke_target = #{invokeTarget},</if>
 			<if test="cronExpression != null and cronExpression != ''">cron_expression = #{cronExpression},</if>
 			<if test="misfirePolicy != null and misfirePolicy != ''">misfire_policy = #{misfirePolicy},</if>
 			<if test="concurrent != null and concurrent != ''">concurrent = #{concurrent},</if>
 			<if test="status !=null">status = #{status},</if>
 			<if test="remark != null and remark != ''">remark = #{remark},</if>
 			update_time = sysdate()
 		</set>
 		where id = #{id}
	</update>
 	
 	<insert id="insertTask" parameterType="SysTask" useGeneratedKeys="true" keyProperty="id">
 		insert into nt_sys_task(
 			<if test="id != null and id != 0">id,</if>
 			<if test="taskName != null and taskName != ''">task_name,</if>
 			<if test="taskGroup != null and taskGroup != ''">task_group,</if>
 			<if test="invokeTarget != null and invokeTarget != ''">invoke_target,</if>
 			<if test="cronExpression != null and cronExpression != ''">cron_expression,</if>
 			<if test="misfirePolicy != null and misfirePolicy != ''">misfire_policy,</if>
 			<if test="concurrent != null and concurrent != ''">concurrent,</if>
 			<if test="status != null and status != ''">status,</if>
 			<if test="remark != null and remark != ''">remark,</if>
 			<if test="createUser != null and createUser != ''">create_user,</if>
 			create_time
 		)values(
 			<if test="id != null and id != 0">id,</if>
 			<if test="taskName != null and taskName != ''">#{taskName},</if>
 			<if test="taskGroup != null and taskGroup != ''">#{taskGroup},</if>
 			<if test="invokeTarget != null and invokeTarget != ''">#{invokeTarget},</if>
 			<if test="cronExpression != null and cronExpression != ''">#{cronExpression},</if>
 			<if test="misfirePolicy != null and misfirePolicy != ''">#{misfirePolicy},</if>
 			<if test="concurrent != null and concurrent != ''">#{concurrent},</if>
 			<if test="status != null and status != ''">#{status},</if>
 			<if test="remark != null and remark != ''">#{remark},</if>
 			<if test="createUser != null and createUser != ''">#{createUser},</if>
 			sysdate()
 		)
	</insert>

</mapper> 